.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  min-height: 100vh;
  background-color: var(--light-grey);

  @media screen and (max-width: 640px) {
    padding: 2rem 0;
  }
}

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 0 8rem;

  @media screen and (max-width: 640px) {
    padding: 0 2rem;
  }
}

.genreContainer {
  width: 100%;
  margin-top: 38px;
  padding-left: 8rem;
  padding-right: 8rem;

  @media screen and (max-width: 640px) {
    padding-left: 2rem;
    padding-right: 0;
  }
}

.genreTitle {
  font-weight: 700;
  font-style: normal;
  margin-bottom: 22px;
}
