.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: var(--light-grey);
}

.genreContainer {
  width: 100%;
  margin-top: 38px;
  overflow-x: scroll;
}

.genreTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 22px;
}