.container {
  width: 185px;

  &:hover .image {
    transform: scale(1.01);
    box-shadow: 1px 2px 3px #333;
  }
}

.image {
  margin-bottom: 20px;
  width: 185px;
  height: 200px;
  border-radius: 4px;
  object-fit: cover;
  transition: all 100ms;
}

.title {
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 12px;
}

.subTitle {
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
}
